<form #segForm="ngForm"  class="w-100 row justify-content-center align-items-center" (submit)="recover()">
    
    <div class="row card__ flex-column col-sm-12 col-md-9 col-lg-6 px-3 justify-content-center align-items-center p-5">
        <h4 class="text-center p-3">Lanza App</h4>
        <div class="imagen_k w-100 d-flex justify-content-center align-items-center">
            <img src="../../assets/kudiska.png" class="w-50 m-auto">
        </div>
        <p class="text-center">Bienvenido a <b>Lanza App</b></p>
        <div class="row w-100">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Correo</label>
            </div>
          </div>
        <div class="p-3 w-75">
            <button type="submit" class="btn px-5 w-100">
                <b>Login</b>
            </button>
        </div>
        <a routerLink="['/']">No tienes una Cuenta?</a>
    </div>
</form>